
{#**************************************************************************************************************************************#}
{% extends 'base.html.twig' %}
{#**************************************************************************************************************************************#}

{% block title %} {% endblock %}

{% block body %}

{#**************************************************************************************************************************************#}
{# manage computation  #}
{#**************************************************************************************************************************************#}

    <h5>En cours de construction</h5>

    <hr>
    <h5>Parametres du calcul</h5>

    <h6>{{ choice }}<h6>
    <h6>{{ ref }}<h6>
    <h6>{{ timeVal }}<h6>    

    <hr>
    <h5>Editeur d'équation simple</h5> pour tester les valeurs à gérer par la suite
    <hr>
{#**************************************************************************************************************************************#}

    {% if action == "compute" %}

        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

        {{ form_start(form) }} 

            {{ form_row(form.equation)}}
            {{ form_row(form.monchoix)}}
            <button type="submit" class="btn"> Calculer les valeurs</button>

        {{ form_end(form) }}

        {% if Table is defined %}
        
            <div id="div_table"></div>
        
                <script type="text/javascript">
                    {{ gc_draw(Table, 'div_table') }}
                </script>  <p><p><p>
        
            <div id="div_chart"></div>
        
            <script type="text/javascript">
                {{ gc_draw(piechart, 'div_chart') }}
            </script>
            
        {% endif %}

    {% endif %}

{#**************************************************************************************************************************************#}
{#**************************************************************************************************************************************#}

{% endblock %}
